In [5]:
#sets
nums= {1,3,4,6}
nums2 = ((1,2,3,4))
print(nums)
print(nums2)
print(type(nums))
print(type(nums2))
print(len(nums))

{1, 3, 4, 6}
(1, 2, 3, 4)
<class 'set'>
<class 'tuple'>
4

In [6]:
#set not allowed duplicates
num = {1,2,2,3,4,3,3,8}
print(num)

{1, 2, 3, 4, 8}

In [7]:
print(sorted(num,reverse=False))

[1, 2, 3, 4, 8]

In [8]:
print(sorted(num,reverse=True))

[8, 4, 3, 2, 1]

In [14]:
#True is dupe of 1 ,False is dupe of 0
num = {True,1,False,2, 3,4,0}
print(sorted(num,reverse=True))
print(sorted(num,reverse=False))

[4, 3, 2, True, False]
[False, True, 2, 3, 4]

In [20]:
print(False & 0 in num)

True

In [29]:
#union
one = {1,2,3}
two = {4,5,6}
my_new = one.union(two)
print(my_new)

{1, 2, 3, 4, 5, 6}

In [38]:
#intersection
one = {1,2,3}
two = {3,2,6}
one.intersection_update(two)
print(one)

{2, 3}

In [ ]:
#symmetric 
one = {1,2,3}
two = {3,2,6}
one.symmetric_difference_update(two)